@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: url("images/vector.png");
  display: flex;
  font-family: "Delius Swash Caps", cursive;
  font-weight: 250;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.quote-container {
  width: auto;
  max-width: 640;
  padding: 20px 30px;
  border-radius: 25px;
  background-color: rgba(26, 45, 34, 0.2);
  box-shadow: 0px 10px 10px 10px rgba(0, 40, 20, 0.4);
}
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
button:hover {
  filter: brightness(110%);
}
.twitter-button:hover {
  color: #1da1f2;
}
.twitter-button {
  font-size: 1.25rem;
}
button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
button {
  align-items: left;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1.8rem;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  height: 2.5rem;
  background: #333;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}
.quote-text {
  font-size: 1.5rem;
}

.quote.author {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 240;
}
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 40px;
  }
  .quote-text {
    font-size: 1.5rem;
  }
}
